asgiref==3.2.3
blessings==1.7
boto3==1.7.4
botocore==1.10.4
bpython==0.18
Cerberus==1.3.2
certifi==2019.11.28
chardet==3.0.4
curtsies==0.3.1
docutils==0.14
greenlet==0.4.15
idna==2.8
jmespath==0.9.3
Pygments==2.5.2
python-dateutil==2.6.1
pytz==2019.3
PyYAML==3.12
requests==2.22.0
rollbar==0.14.7
s3transfer==0.1.13
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
wcwidth==0.1.8
